version: "3.0"

services:
  metra:
    image: ghcr.io/aethrexal/metra
    ports:
      - "8080:3000"
    environment:
      - HOST=0.0.0.0
      - SUPABASE_URL=
      - SUPABASE_KEY=
      - NUXT_PUBLIC_TVDB_URL=
      - NUXT_TVDB_API_KEY=
      - NUXT_PUBLIC_REGISTRATION_ENABLED=true
